body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.wrapper{
    height: 100%;
    position: relative;
}

header .title{
    width: 33%;
}

.title h1{
    margin: 0;
    font-size: 45px;
    font-family: 'Crimson Pro', serif;
    font-weight: 900;
}

header{
    height: 55px;
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    border-bottom: solid 1px lightgray;
}

.menu-desktop{
    width: 68%;
    margin: 15px 25px 0px 0px;
}

nav {
    display: flex;
    color:#a0a0a0;
    justify-content: space-between;
}

nav a{
    font-size: 25px;
    font-family: 'Crimson Pro', serif;
    font-weight: 900;
}

.menu-mobile {
    display: none;
    color: #a0a0a0;
    padding: 10px;
}

.menu-mobile i {
    font-size: 40px;
}

main{
    height: 65%;
    display: flex;
}

.containers{
    width: 35%;
}

aside{
    background-color: white;
    padding: 60px 50px 0px 35px;
    font-family: 'Crimson Pro', serif;
}

.image-wrapper{
    width: 70%;
    height: 100%;
}

aside div:first-child{
    font-size: 120px;
    font-weight: 900;
}

aside div:nth-child(2){
    font-size: 65px;
    font-weight: 900;
    width: 85%;
}

aside p{
    padding-top: 10px;
    text-align: left;
    width: 75%;
}

.arrows-container i{
    color: #f4dfc4;
    font-size: 60px;
    padding-right: 15px;
}

.image-wrapper img{
    width: 100%;
    height:auto;
}

.holiday{
    position: absolute;
    bottom: 0;
}

.weekend-container{
    background-color: black;
    color: white;
    width: 24%;
    height: 190px;
    padding: 20px 30px 15px 20px;
    left: 31%;
    z-index: 10;
}

.week-container{
    background-color:#f4dfc4 ;
    color: white;
    width: 38%;
    height: fit-content;
    padding: 30px 30px 15px 30px;
    right: 0;
}

.holiday .title div{
    font-size: 30px;
    font-weight: bold;
}

.start-button{
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 900;
    border: solid 2px white;
    height: 35px;
    width: 80px;
}

@media (max-width: 600px) {

    .menu-mobile {
        display: block;
    }

    .menu-desktop {
        display: none;
    }

    header .title{
        width: 80%;
    }

    main{
        height:fit-content;
        flex-direction: column-reverse;
    }

    .image-wrapper{
        width: 100%;
        height: 60%;
    }

    .arrows-container{
        display: none;
    }

    .containers{
        display: flex;
        width: 100%;
        height: 45%;
        margin-top: -4px;
    }

    aside{
        width: 50%;
        height: fit-content;
        padding-top: 0px;
        padding-right: 0;
    }

    aside div:first-child{
        padding-top: 15px;
        font-size: 57px;
    }
    
    aside div:nth-child(2){
        font-size: 28px;
    }

    aside p{
        font-size: 13px;
        padding-top: 0px;
    }

    .weekend-container{
        position: relative;
        left: 0;
        width: 50%;
        height: fit-content;
        box-sizing: border-box;
    }

    .week-container{
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }
}