body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

section {
    display: flex;
    height: 100%;
}

aside{
    width: 30%;
    padding: 60px 50px 0px 35px;
    font-family: 'Crimson Pro', serif;
}

.image-wrapper{
    width: 70%;
}

aside, .image-wrapper{
    height: 420px;
}

.containers-wrapper{
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* atentie, acest .containers nu este asezat in josul viewport-ului, am atasat si un screenshot pentru ca am impresia ca la tine se vede lejer divers */
/* vrei sa decizi tu cum se vede si sa nu existe posibilitate sa se strice structura aici, chiar daca aici vorbim deocamdata doar de desktop, de aceea aceasta este o situatie specifrica unde se implementeaza folosind pozitionarea */
.containers{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

header .title{
    width: 33%;
}

.title h1{
    margin: 0;
    font-size: 45px;
    font-family: 'Crimson Pro', serif;
    font-weight: 900;
}

header{
    height: 55px;
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    border-bottom: solid 1px lightgray;
}

.menu-desktop{
    width: 68%;
    margin: 15px 25px 0px 0px;
}

nav {
    display: flex;
    color:#a0a0a0;
    justify-content: space-between;
}

nav a{
    font-size: 25px;
    font-family: 'Crimson Pro', serif;
    font-weight: 900;
}

.menu-mobile {
    display: none;
    color: #a0a0a0;
    padding: 10px;
}

.menu-mobile i {
    font-size: 40px;
}

.aside-container div:first-child{
    font-size: 120px;
    font-weight: 900;
}

.aside-container div:nth-child(2){
    font-size: 65px;
    font-weight: 900;
    width: 85%;
}

aside p{
    padding-top: 10px;
    text-align: left;
    width: 80%;
}

.arrows-container i{
    color: #f4dfc4;
    font-size: 60px;
    padding-right: 15px;
}

.image-wrapper img{
    max-width: 100%;
    height:auto;
}


.black-container{
    background-color: black;
    color: white;
    width: 23%;
    height: fit-content;
    padding: 20px 30px 15px 20px;
}

.nude-container{
    background-color:#f4dfc4 ;
    color: white;
    width: 38%;
    height: fit-content;
    padding: 30px 30px 15px 30px;
    align-self: flex-end;
}

.holiday .title div{
    font-size: 30px;
    font-weight: bold;
}

.start-button{
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 900;
    border: solid 2px white;
    height: 35px;
    width: 80px;
}

@media (max-width: 600px) {

    .menu-mobile {
        display: block;
    }

    .menu-desktop {
        display: none;
    }

    section{
        display: flex;
        flex-direction: column-reverse;
    }

    .image-wrapper{
        width: 100%;
        height: fit-content;
        margin: 0;
    }

    .arrows-container{
        display: none;
    }

    aside{
        width: 50%;
        height: fit-content;
        padding-top: 0px;
    }

    .aside-container div:first-child{
        font-size: 70px;
    }
    
    .aside-container div:nth-child(2){
        font-size: 40px;
    }

    .black-container{
        width: 50%;
        height: fit-content;
    }

    .containers{
        flex-direction: column;
    }

    .nude-container{
        width: 90%;
        height: fit-content;
    }

    header .title{
        width: 90%;
    }

}